name: Animal Farm Node.js CI

on:
  push:
   branches:
      - feature-action
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: self-hosted

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '16.x'
    - name: Run Yarn
      run: yarn
    - name: Run tests
      run: yarn test
